In [5]:
import os
os.getcwd()

'C:\\Users\\Suresh'

In [10]:
df = pd.read_csv('C:/Users/Suresh/Desktop/marketing_campaign.csv', sep='\t')

In [11]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [12]:
import pandas as pd
import numpy as np

# Assistant
This error occurs because Python cannot find the file at the specified path. The `FileNotFoundError` indicates that the file "marketing_campaign.csv" doesn't exist at the location "C:/Users/Suresh/Desktop/".

Would you like me to provide the corrected code?

In [14]:
all_null_values_df = df.isnull()

In [15]:
print(all_null_values_df)

         ID  Year_Birth  Education  Marital_Status  Income  Kidhome  Teenhome  \
0     False       False      False           False   False    False     False
1     False       False      False           False   False    False     False
2     False       False      False           False   False    False     False
3     False       False      False           False   False    False     False
4     False       False      False           False   False    False     False
...     ...         ...        ...             ...     ...      ...       ...
2235  False       False      False           False   False    False     False
2236  False       False      False           False   False    False     False
2237  False       False      False           False   False    False     False
2238  False       False      False           False   False    False     False
2239  False       False      False           False   False    False     False

      Dt_Customer  Recency  MntWines  ...  NumWebVisitsMonth  AcceptedCmp3  \
0           False    False     False  ...              False         False
1           False    False     False  ...              False         False
2           False    False     False  ...              False         False
3           False    False     False  ...              False         False
4           False    False     False  ...              False         False
...           ...      ...       ...  ...                ...           ...
2235        False    False     False  ...              False         False
2236        False    False     False  ...              False         False
2237        False    False     False  ...              False         False
2238        False    False     False  ...              False         False
2239        False    False     False  ...              False         False

      AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  Complain  \
0            False         False         False         False     False
1            False         False         False         False     False
2            False         False         False         False     False
3            False         False         False         False     False
4            False         False         False         False     False
...            ...           ...           ...           ...       ...
2235         False         False         False         False     False
2236         False         False         False         False     False
2237         False         False         False         False     False
2238         False         False         False         False     False
2239         False         False         False         False     False

      Z_CostContact  Z_Revenue  Response
0             False      False     False
1             False      False     False
2             False      False     False
3             False      False     False
4             False      False     False
...             ...        ...       ...
2235          False      False     False
2236          False      False     False
2237          False      False     False
2238          False      False     False
2239          False      False     False

[2240 rows x 29 columns]

In [16]:
total_sum_of_nulls_column = df.isnull().sum()

In [18]:
print(total_sum_of_nulls_column)

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

In [19]:
mean_col_income = df['Income'].mean()

In [20]:
print(mean_col_income)

52247.25135379061

In [21]:
df['Income'] = df['Income'].fillna(value=mean_col_income)

In [22]:
total_sum_of_nulls_column2 = df.isnull().sum()

In [23]:
print(total_sum_of_nulls_column2)

ID                     0
Year_Birth             0
Education              0
Marital_Status         0
Income                 0
Kidhome                0
Teenhome               0
Dt_Customer            0
Recency                0
MntWines               0
MntFruits              0
MntMeatProducts        0
MntFishProducts        0
MntSweetProducts       0
MntGoldProds           0
NumDealsPurchases      0
NumWebPurchases        0
NumCatalogPurchases    0
NumStorePurchases      0
NumWebVisitsMonth      0
AcceptedCmp3           0
AcceptedCmp4           0
AcceptedCmp5           0
AcceptedCmp1           0
AcceptedCmp2           0
Complain               0
Z_CostContact          0
Z_Revenue              0
Response               0
dtype: int64

# User
Yes

In [24]:
print(df.dtypes)

ID                       int64
Year_Birth               int64
Education               object
Marital_Status          object
Income                 float64
Kidhome                  int64
Teenhome                 int64
Dt_Customer             object
Recency                  int64
MntWines                 int64
MntFruits                int64
MntMeatProducts          int64
MntFishProducts          int64
MntSweetProducts         int64
MntGoldProds             int64
NumDealsPurchases        int64
NumWebPurchases          int64
NumCatalogPurchases      int64
NumStorePurchases        int64
NumWebVisitsMonth        int64
AcceptedCmp3             int64
AcceptedCmp4             int64
AcceptedCmp5             int64
AcceptedCmp1             int64
AcceptedCmp2             int64
Complain                 int64
Z_CostContact            int64
Z_Revenue                int64
Response                 int64
dtype: object

In [4]:
# Assistant
# There are several ways to fix this error:

# Option 1: Verify the correct file path and update it
# Make sure the file exists at this exact location
df = pd.read_csv("C:/Users/Suresh/Desktop/marketing_campaign.csv", sep='\t')

# Option 2: If you're using a relative path, make sure you're in the right directory
# For example, if the file is in your current working directory:
import os
print("Current working directory:", os.getcwd())  # Check your current directory
df = pd.read_csv("marketing_campaign.csv", sep='\t')

# Option 3: Use a file dialog to select the file interactively
import pandas as pd
from tkinter import filedialog
file_path = filedialog.askopenfilename(title="Select the marketing campaign CSV file")
df = pd.read_csv(file_path, sep='\t')

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/Suresh/Desktop/marketing_campaign.csv'

In [2]:
import pandas as pd

In [25]:
os.getcwd()

'C:\\Users\\Suresh'

In [26]:
df.to_csv('output.csv', index=False)